Repository bartosz-io/budget-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Skip cypress test
  cypress/integration/expenses.e2e.ts
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Update angular-in-memory-web-api
  package-lock.json
  package.json
Due: none

Fix mock.api.ts
  src/app/mocks/mock.api.ts
Due: eslint --fix

Fix error handling
  src/app/core/error.handler.ts
  src/app/core/error.interceptor.ts
Due: eslint --fix

Add new environment
  src/environments/environment.in-memory.ts
  src/environments/environment.ts
Due: none

Setup in-memory config
  angular.json
  package.json
  src/app/core/core.module.ts
Due: eslint --fix

Add express server for heroku
  .eslintrc.json
  package-lock.json
  package.json
  server.js
Due: none

Disable postinstall script
  package.json
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Add release-cd workflow
  .github/workflows/release-cd.yml
Due: none

Update Dashboard label
  src/app/core/layout/layout.component.html
Due: none

Update label
  src/app/core/layout/layout.component.html
Due: none

Update label to prod
  src/app/core/layout/layout.component.html
Due: none

feat(app): fix readme
  README.md
  package-lock.json
Due: none

feat(app): force update @angular/cli@11
  package.json
Due: none

feat(app): force update @angular/cli@11
  angular.json
  package-lock.json
  src/app/app-routing.module.ts
Due: eslint --fix

feat(app): force update @angular/cli@12
  angular.json
  package-lock.json
  package.json
  src/polyfills.ts
Due: none

feat(app): force update @angular/cli@13
  package-lock.json
  package.json
Due: none

feat(app): force update rest of the packages
  package-lock.json
  package.json
Due: none

feat(app): ignore .angular from git
  .gitignore
Due: none

feat(app): eslint instead of tslint
  .eslintrc.json
  angular.json
  package-lock.json
  package.json
  src/app/admin/admin.component.html
  src/app/app-routing.module.ts
  src/app/auth/components/otp-dialog/otp.component.html
  src/app/auth/containers/login/login.component.html
  src/app/auth/containers/oauth/oauth.component.html
  src/app/auth/containers/password/password.component.html
  src/app/auth/containers/recover/recover.component.html
  src/app/auth/containers/signup/signup.component.html
  src/app/core/layout/layout.component.html
  src/app/dashboard/components/budget-progress/budget-progress.component.html
  src/app/dashboard/components/summary/summary.component.html
  src/app/dashboard/containers/dashboard/dashboard.component.html
  src/app/expenses/components/expense-dialog/expense-dialog.component.html
  src/app/expenses/components/expenses-table/expenses-table.component.html
  src/app/expenses/containers/expenses/expenses.component.html
  src/app/settings/account/components/secret-dialog/secret-dialog.component.html
  src/app/settings/account/components/user-dialog/user-dialog.component.html
  src/app/settings/account/container/account.component.html
  src/app/settings/categories/components/category-form/category-form.component.html
  src/app/settings/categories/components/category-list/category-list.component.html
  src/app/settings/categories/container/categories.component.html
  src/app/shared/components/period-selector/period-selector.component.html
  tsconfig.base.json
Due: eslint --fix

stylelint
  .stylelintrc.json
  package-lock.json
  package.json
  src/app/admin/admin.component.scss
  src/app/auth/components/otp-dialog/otp.component.scss
  src/app/auth/containers/auth.scss
  src/app/auth/containers/oauth/oauth.component.scss
  src/app/core/layout/layout.component.scss
  src/app/dashboard/components/budget-progress/budget-progress.component.scss
  src/app/dashboard/components/summary/summary.component.scss
  src/app/dashboard/containers/dashboard/dashboard.component.scss
  src/app/expenses/components/expense-dialog/expense-dialog.component.scss
  src/app/expenses/containers/expenses/expenses.component.scss
  src/app/settings/account/components/user-dialog/user-dialog.component.scss
  src/app/settings/account/container/account.component.scss
  src/app/settings/categories/container/categories.component.scss
  src/app/shared/components/period-selector/period-selector.component.scss
  src/theme.scss
Due: stylelint --fix

lint-staged
  package.json
  src/theme.scss
Due: stylelint --fix

Update master-ci.yml Node version
  .github/workflows/master-ci.yml
Due: none

Generate new package-lock.json
  package-lock.json
Due: none

Update dependencies
  package-lock.json
  package.json
Due: none

Make OnDestroy fail-safe (for tests)
  src/app/dashboard/containers/dashboard/dashboard.component.ts
  src/app/expenses/containers/expenses/expenses.component.ts
Due: eslint --fix

Update port
  .github/workflows/e2e.yml
Due: none

Update path
  .github/workflows/e2e.yml
  package.json
Due: none

Update start script
  package.json
Due: none

Update port
  cypress.json
Due: none

Update release-cd pipeline
  .github/workflows/release-cd.yml
Due: none

Update dependencies
  package.json
Due: none

Move heroku start command
  Procfile
  package.json
Due: none

Path conditions:
  eslint --fix: any of: src/app/**/*.ts
  stylelint --fix: any of: *.scss
